%html
  %head
    %link(rel="stylesheet" type="text/css" href="main.css")
    %script(src="_bower.js")
    %script(src="http://localhost:35729/livereload.js")
  %body
    %a#github-ribbon(href="https://github.com/giorgenes" target="_blank")
      %img(src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png")
    #main
      %h1 Giorgenes Gelatti
      %h2 Software Developer
      %p
        Hi, I'm a ruby software developer from Brazil.
        I've been working with open source tools for more than 10 years.
        For many years I worked with more low level technologies like C on
        Linux for server side processing, and on the most
        recent years I've been working with web development
        which is my current focus and passion.
      %a.down-arrow(href="#")
        %img(src="assets/down53.png")
    #citations
      %p
        "Giorgenes is a very dedicated and competent professional. While he worked at T&T he excelled as a software engineer, always doing his best to meet the projects goals and schedules. Giorgenes is very knowledgeable and while working in my team always delivered high quality work. I feel very confident in recommending Giorgenes."
      %span
        André Magoga, Owner, TeT
    #buzzwords
      %h1 Buzzwords
      %ul
        %li Ruby on Rails
        %li Sinatra
        %li TDD
        %li BDD
        %li RSpec
        %li C
        %li C++
        %li Heroku
        %li AWS
        %li Chef
        %li Puppet
        %li JQuery
        %li CSS
        %li Low Level Unix Development (IPC, Posix, Sockets, Threads)
        %li MySQL
        %li Postgre
        %li Redis
        %li AngularJS
        %li BackboneJS
        %li Twitter Bootstrap
        %li Scrum
        %li Git
        %li Vim
        %li CoffeeScript
        %li Sass
        %li HAML
        %li Less
    #skills
      %table
        %tr
          %td.l
            .img-wrapper
              %img{src: "assets/html-tag.png"}
          %td.r
            %h3 Coding
            %p
              :markdown
                Since my early career I've decided to work with more low level technologies. For many
                years I've worked with _C (and also C++)_, mostly exclusively for _Linux_. 
                After about _8 years_ doing this I've started working professionally with _Ruby_, more
                specifically with _ruby on rails_,
                after having taught myself on a side project. I enjoy all aspects of web development, from
                back end to front end.
        %tr
          %td.l
            .img-wrapper
              %img{src: "assets/tools.png"}
          %td.r
            %h3 Tools and Frameworks
            %p
              :markdown
                Too many to list, but these days I've been working mostly with _Ruby on Rails_,
                some times I use _Sinatra_
                when it's convenient. For the UI I use mostly _Less_ for css, _JQuery_, _BackboneJS_,
                and currently starting to use _AngularJS_. I test with _RSpec_ and sometimes _Capybara_.
                I have a preference for using _VIM_ in the terminal since I'm used to it.
        %tr
          %td.l
            .img-wrapper
              %img{src: "assets/hierarchical9.png"}
          %td.r
            %h3 Sysop
            %p
              :markdown
                Altough I was never a full time Sysop, I have experience buiding and deploying entire
                systems, from custom servers to hosts like _AWS_ and _Heroku_. I've extensively
                used _Puppet_ and more recently _Chef_ for managing clusters of servers.
                I'm currently looking at _Docker_ which seems like an amazing tool in the mix.
        %tr
          %td.l
            .img-wrapper
              %img{src: "assets/db.png"}
          %td.r
            %h3 Databases
            %p
              :markdown
                In the past I wrote a super fast multi threaded C library to insert data
                in batches into an _Oracle_ database.
                Nowadays I've been using mostly _MySQL_ and _Redis_.
                I'm fluent enough in _SQL_, but I believe queries should be simple as much as possible.
                I have a secret dream of working with _map-reduce_ style databases, but that day has not come yet.
        %tr
          %td.l
            .img-wrapper
              %img{src: "assets/fire.png"}
          %td.r
            %h3 Fire Fighting
            %p I work hard to avoid mistakes and experience has taught me to take certain measures to diminish it. But unfortunately, sometime s**t happens. I'm the kind of person who keep the cool in bad situations and can focus on the problem until it's solved. I've fought many fires in the past,  and beat all of them. 
        %tr
          %td.l
            .img-wrapper
              %img{src: "assets/teacher8.png"}
          %td.r
            %h3 Leading and Teaching
            %p
              :markdown
                Several times I had the opportunity to assume leading roles. From local teams
                to remote teams. I also had the joy of doing some _ruby evangelisation_ and
                give some trainning for colegues to use it in a new project.
                I'm always keen to share what I know when needed.
    #footer
      #contact
        %a(href="http://twitter.com/giorgenes" target="_blank")
          %img{src: "assets/twitter22.png"}
        %a(href="skype:giorgenes" target="_blank")
          %img{src: "assets/telephone7.png"}
        %a(href="mailto:giorgenes@gmail.com" target="_blank")
          %img{src: "assets/envelope32.png"}
        %a(href="http://github.com/giorgenes" target="_blank")
          %img{src: "assets/github8.png"}
        %a(href="http://linkedin.com/in/giorgenes" target="_blank")
          %img{src: "assets/linkedin.png"}
      #credits
        Design by Giorgenes Gelatti.
        Icons made by Designmodo, Freepik from
        %a(href="http://www.flaticon.com" title="Flaticon")www.flaticon.com
        is licensed by
        %a(href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0")CC BY 3.0
  :javascript
    $(document).ready(function() {
      $('.down-arrow').on('click', function() {
        $('body').animate({
          scrollTop: $('#main').height()
        });
      });
    });
